@media screen and (min-width: 1002px){
    ol{
        top: 15vw;
    }
}

@media screen and (max-width: 766px){

    div#slide1 h1#h1{
        width: 450px;
        left: 50%;
    }
    div#slide1 h1{
        text-align: left;
        left: 150px;
        top: 5%;
    }
    div.content h1{
        font-size: 34px;
    }
    div.content p, .pB{
        font-size: 16px;
        left: 55px;
        top: 25vw;
        width: 77%;
    }
    ol{
        top: 35vw;
    }
}