@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
body{
    font-family: 'Mooli', sans-serif;
    color: ghostwhite;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -999;
    overflow: hidden;
}
ol{
    position: relative;
    top: 19vw;
    font-size: 20px;
    left: 6.3vw;
}
li a{
    color: whitesmoke;
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
div#SlideContainer{
    position: relative;
    z-index: 999;
}
div#next{
    margin-right: 15px;
    display: flex;
    justify-content: right;
}
div#pre{
    position: relative;
    top: 37.1%;
    margin-left: 15px;
    display: flex;
    justify-content: left;
}
div#slide1 h1{
    position: absolute;
    left: 20%;
    transform: translate(-50%);
    text-align: center;
    word-wrap: break-word;
    font-size: 20px;
}
div.content h1{
    font-size: 40px;
    position: absolute;
    top: 2%;
}
a{
    color: red;
}
a:hover{
    color: rgba(255, 0, 0, 0.621);
}
div.content p, .pB{
    width: 50%;
}
.slide{
    display: none;
    padding: 20px;
}
h1{
    position: absolute;
    top: 10%;
    font-size: 50px;
}
p{
    position: absolute;
    top: 140px;
    left: 120px;
    font-size: 26px;
}
.prev-next{
    position: fixed;
    top: 44%;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.491);
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50% 50%;
}
button#nextTopic{
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px black;
    position: relative;
    top: 20vw;
    left: 50vw;
    transform: translate(-70%, -50%);
}
button#nextTopic:hover{
    background-color: white;
    color: black;
}